#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Bestiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li First "Release" WhoahDude
    li Add Passive Stalk feature
    li Remove Country flags, and related botnet
    li Minor CSS tweaks
    li Clean
  hr
  .bdgg-menu-footer
    a(href="https://github.com/0x9ae76c/betterdgg" target="_blank") Homepage
