#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Bestiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li NOBULLY, gachiGASM, and haHAA added
    li Fixed Text combo disables
    li CSS for emote list GUI
    li CuckCrab first frame lag removed
    li General cleanup
  hr
  .bdgg-menu-footer
    a(href="https://github.com/0x9ae76c/betterdgg" target="_blank") Homepage
