#bdgg-about.bdgg-menu(style="display:none")
  .list-wrap.clearfix
  .toolbar
    h5
      span Bestiny.gg
      span.close.glyphicon.glyphicon-remove
  h6 v#{version}
  ul
    li /ps <user> to add users to your passivestalk
    li LIES emote updated
  hr
  .bdgg-menu-footer
    a(href="https://github.com/0x9ae76c/betterdgg" target="_blank") Homepage
